@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.shop-grid {
  @include section-padding;
  background: $white;

  &__inner {
    @include container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include respond-to(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(sm) {
      grid-template-columns: 1fr;
      max-width: 380px;
      margin-inline: auto;
    }
  }
}

.shop-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;

  &__btn {
    min-width: 56px;
    height: 56px;
    padding: 0 12px;
    background: #F9F1E7;
    border: none;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    color: $dark;
    cursor: pointer;
    border-radius: 4px;
    @include smooth-transition(all, 0.2s);

    &:hover:not(&--active) {
      background: $primary;
      color: $white;
    }

    &--active {
      background: $primary;
      color: $white;
      font-weight: 600;
    }

    &--next {
      background: #F9F1E7;
      color: $dark;
    }
  }
}
